﻿@page "/"
@inject IController controller
@inject IModel model

<h5 style="margin-top: 16px">Type ID:</h5>


<RadzenNumeric Name="OrderId" @bind-Value=@model.OrderId Style="width: 160px" Min="1" Placeholder="ID"/>

<RadzenButton Variant="Variant.Outlined" id="button-search" Shade="Shade.Lighter" Icon="search" Text="Search" Click=@controller.ShowOrderAsync Style="width: 160px" ButtonStyle="ButtonStyle.Primary" />

<h5 style="margin-top: 16px">Result</h5>


<RadzenDataGrid TItem="OrderAppDTO" Data="@model.OrdersList" AllowFiltering="false" AllowPaging="true" AllowSorting="true" PageSize="3" SelectionMode="DataGridSelectionMode.Single" ColumnWidth="200px"
                AllowRowSelectOnRowClick="@allowRowSelectOnRowClick" @bind-Value=@model.SelectedOrder >
            <Columns>
                <RadzenDataGridColumn TItem="OrderAppDTO" Property="Id" Title="ID" />
                <RadzenDataGridColumn TItem="OrderAppDTO" Property="MechanicSurname" Title="Mechanic Surname" />
                <RadzenDataGridColumn TItem="OrderAppDTO" Property="MechanicName" Title="Mechanic Name" />

                <RadzenDataGridColumn TItem="OrderAppDTO" Property="CustomerSurname" Title="Customer Surname" />
                <RadzenDataGridColumn TItem="OrderAppDTO" Property="CustomerName" Title="Customer Name" />
                <RadzenDataGridColumn TItem="OrderAppDTO" Title="Services">
                    <Template Context="order">
                        @foreach (var service in order.ServiceList)
                        {
                            <div>@service</div>
                        }
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="OrderAppDTO" Property="IsFinished" Title="Status"/>

            </Columns>
</RadzenDataGrid>
<RadzenButton Variant="Variant.Outlined" id="button-show-all" Shade="Shade.Lighter" Icon="search" Text="Show all" Click=@controller.ShowOrdersAsync Style="width: 200px; margin-top: 10px" />

<RadzenButton Variant="Variant.Outlined" id="button-status-change" Shade="Shade.Lighter" Click=@controller.UpdateOrderStatusAsync Text="Change status" Icon="refresh" ButtonStyle="ButtonStyle.Primary" Style="width: 200px" />

<RadzenButton Variant="Variant.Outlined" id="button-show-services" Shade="Shade.Lighter"  Click=@(() => ShowServicesDiv()) Text="Add services" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" Style="width: 200px" />

@if (showServicesDiv)
{
    <div class="col" style="max-width:50%">
        <h5 style="margin-top: 16px">Services:</h5>
        <RadzenButton Variant="Variant.Outlined" id="show-all-services" Shade="Shade.Lighter" Icon="search" Text="Show all services" Click=@controller.ShowServicesAsync Style="width: 200px" />

        <RadzenListBox FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="false" @bind-Value=@model.ServicesIdList
                   Data=@model.ServicesList TextProperty="Name" ValueProperty="ServiceId"
                   Multiple=true AllowClear=true Placeholder="Select all services" Style="width: 100%; height: 240px; margin-top:31px" />

        <RadzenButton Variant="Variant.Outlined" Shade="Shade.Lighter" id="btn-add-service" Click=@controller.AddServicesToOrderAsync Text="Add" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" Style="width: 200px; margin-top: 10px" />

    </div>
}

@code {
    bool allowRowSelectOnRowClick = true;
    RadzenDataGrid<OrderAppDTO> grid;
}

@code {
    private bool showServicesDiv = false;

    private void ShowServicesDiv()
    {
        showServicesDiv = !showServicesDiv;
    }
}