@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('../page_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home_page_text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66vh;
}

.col{
    align-content:center;

}
#button-search, #button-show-all, #button-status-change, #button-show-services, #show-all-services, #btn-add-service{
    background-color: rgb(5, 39, 103);
    color: white;
}
.rz-paginator-page.rz-state-active {
    color: rgb(5, 39, 103);
}